body {
    box-sizing: border-box;
    margin: 0;
}

/* шапка и ссылки */
.headcolor {
    background-image: url(https://github.com/Adelaniada/Ada_Memoland/blob/main/огурчик_формат_394х392.png);
    background-repeat: repeat-x;
    background-size: 100px;
    border-bottom: solid hsl(120, 30%, 24%) 6px;
}
.headitems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    justify-content: baseline;
}
.bmenu {
    background-color: hsl(120, 30%, 24%);
    color: hwb(0 100% 0%);
    border: solid hsl(115, 85%, 28%);
    font-size: 25px;
    width: 70px;
    height: 70px;
}
.bmenu:active {
    transform: translateY(2px);
}
.menu {
    padding: 6px 0px 6px 15px;
}
.header {
    font-family: Arial;
    padding: 0px 0px 0px 100px;
}
.cucu {
    border: solid hsl(115, 85%, 28%) 3px;
    padding: 4px;
    background-color: #ffffff;
    margin: 0;
}
.hub {
    font-family: Arial;
    border: 2px hidden;
    border-radius: 5px;
    padding: 4px;
    background-color: hsl(120, 30%, 24%);
    color: #ffffff;
    font-size: 27px;
    font-weight: 510;
}
.topnov {
    overflow: hidden;
    background-color: #333;
    width: 100%;
}
.topnov a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a {transition-duration: 0,4 с;}
a:hover { background-color: hsla(0, 0%, 95%, 0.507);
}

/* пробую сетку */
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: hsla(0, 0%, 20%, 0.26);
}

/* Меню с кнопками слева */
.listsback {
    background-color: #ffffff;
    border-right: solid  #333 6px;
    margin: 0px 30px 0 0;
    width: 350px;
    height: 100%;
    display: block;
}
.lists {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.titlesh {
    text-align: center;
    padding: 15px;
    margin: 15px 5px 0 5px;
    border-bottom: hsl(115, 85%, 28%) solid 2px;
    border-radius: 5px;
    /* border-top: hsl(115, 85%, 28%) solid 2px; */
    font-size: 20px;
    font-weight: 510;
    font-family: Arial;
    background-color: hsl(120, 30%, 24%);
    color: #ffffff;
}
.secret {
    display: none;
    background-color: #c0ce0096;
    padding: 10px;
}
.titlesh:hover .secret {
    display: block;
}
.listsbuttons button {
    /* display: flex; */  
    margin: 40px 0px 0px 20px;
    height: 40px;
    width: 300px;
    background-color: #ffffff;
    border: solid hsl(120, 30%, 24%) 3px;
    font-size: 13px;
    font-family: arial;
}
.listsbuttons button:active{
    transform: translateY(4px);
}
button:hover {
    background-color: lch(53.97% 46.98 146.22 / 0.393);
    box-shadow: 0px 12px 16px 0 #1e32189d;
}
button {
    transition-duration: 0,6 c;
}
.secret {
    display: none;
    background-color: #c0ce0096;
    padding: 10px;
}
.titlesh:hover .secret {
    display: block;
}

/* Конетент справа*/
.container-1 {
display: grid;
gap: 100px;


}
.boxcolor {
    background-color: #ffffff;
    border: solid #333 5px;
    margin: 100px 0px 0px 80px;
    padding: 0px 0px 0px 0px;
    width: 700px;
    height: 400px;
    display: block;
    box-shadow: 0 10px 20px 0 #333;
}
.boxpict {
    /* float: left; */
    padding: 10px 0 0 0px;
    margin: 0px 0 0px 0;
}
/* .boxpict:hover img {
    margin: -30px 0px 0px 0px;
} */
.box-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.boxp{
    /* position: fixed; */
    /* float: right; */
    /* padding: 20px; */
    font-size: 60px;
    font-family: Arial
}
.shiza {
    font-weight: 700;
    float: right;
    margin: 70px 0px 0px 300px;
}
.pov {
    display: none;
    background-color: #c0ce0096;
    padding: 10px ;
    /* margin: 0px 0px 0px 0px; */
}
.boxcolor:hover .pov {
    display: block;

}

.fufel {
    flex-direction: column;
    display: block;
    margin: 0;
}
.fufel-p {
    font-size: 20px;
    background-color: #ffffff;
    margin: 0px 0px 40px 0 ;
    padding: 10px;
    /* width: max-content; */
    box-shadow: 0 10px 20px 0 #333;
}

.container-2 {
    border-top: solid hsl(120, 30%, 24%) 6px;
    /* height: 1000px; */
    /* background-color: hwb(0 100% 0%); */
    background-image: url(images/огурчик_формат_394х392.png);
    background-size: 80px;
    background-repeat: repeat;
}

/* Вторая часть сайта */
.content-2 {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
/* justify-content: space-evenly; */
}
/* Квадратные элементы */
.items {
padding: 20px;
height: 300px;
width: 300px;
margin: 50px;
background-color: #333333bb;
box-shadow: 0 10px 20px 0 #333;
}
.itemsback {
    background-color: #ffffffc1;
    padding: 15px;
    font-size: 25px;
}
.items2 {
    padding: 20px;
    height: 300px;
    width: 300px;
    margin: 50px;
    background-color: #333333bb;
    box-shadow: 0 10px 20px 0 #333;
    display: flex;
    flex-direction: column;
}
.itemsback_Num {
    background-color: #ffffffc1;
    padding: 15px;
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
    /* height: 200px; */
    /* align-items: end; */
}
.btnRandom {
    color: #ffffff;
    background-color: #6f0000;
    margin: 4px;
    border: none;
    font-size: 20px;
    height: 70px;
    width: 75px;
    border-radius: 50%;
    box-shadow: 0px 2px 2px 2px hwb(0 20% 80% / 0.268);
}
.btnRandom:active {
    transform: translateY(2px);
}

/* Калькулятор */
input {
    background-color: hsla(0, 0%, 100%, 0.735);
}
.calculator {
    background-color:lightgoldenrodyellow ;
      display: grid;
      grid-template-columns: repeat(4, 60px);
      gap: 5px;
      width: max-content;
      margin:  0 14px;
      border: solid #000 2px;
      border-radius: 5px;
      padding: 10px;
    }
    .calculator button:active {
        transform: translateY(2px);
    }
.displayCalc {
      grid-column: span 3;
      border: 2px solid #000;
      border-radius: 5px;
      height: 30px;
      padding: 5px;
      text-align: right;
    }
    .buttonCalc {
    background-color:hsl(120, 48%, 21%);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    height: 30px;
    /* width: 60px; */
    border: none;
    border-radius: 15%;
    }
    .b-c {
        background-color: hwb(27 15% 67%);
        height: 40px;
        color: #ffffff;
        border: none;
        border-radius: 8%;
    }
    .pCalc {
        /* margin: 1px; */
        padding: 20px;
        margin: 30px 0px 0px 16px ;
        background-color: #ffffffa5;
        width: 235px;
        height: 20px;
        text-align: end;
    }