body {
    background-color: RGB(198,197,195);
    margin: 0;
}
/* Заголовок */
.header_back {
    background-color: lab(0% 0 0 / 0.615);
    padding: 60px;
    margin: 20px;
}
h1 {
    color: aliceblue;
    margin:  0 0 0 10%;
} 
/* Меню проектов */
.tup_menu {
    background-color: hwb(0 0% 100% / 0.212);
    margin: 20px;
}
.button_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
} 

h6 {
    color: aliceblue;
    font-size: 20px;
    margin: 20px;
}
.button_links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
a {
    color: hsl(0, 0%, 100%);
    height: 40px;
    width: 80px;
   text-align: center;
}
a:hover {
    background-color: hsla(0, 1%, 73%, 0.634);
    color: aliceblue;
}
a:active {
    background-color: hwb(0 74% 26% / 0.637);
    /* transform: rotateY('angle'); */
}
/* Контент часы */
.date_clock {
    font-size: 60px;
    font-weight: 700;
    border: 2px solid #000;
    padding: 2% 5%;
    margin: 10px;
}
/* Кнопки */
button:hover {
display: block;
background-color: lch(100% 0.01 296.81 / 0.466);
}
button:active {
    transform: translateY(2px);
}
.my_contact_information {
    /* right: 20%; */
    margin: 5%;
}
